.editInputStyling {
  height: 50px;
  width: 350px;
}
.labelStyling {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}
.userProfileContainer {
  background-color: #f2f2f4;
  border: 2px solid grey;
  border-radius: 10px;
  width: 100%;
  padding: 5% 4%;
  margin-bottom: 2%;
}
.ant-select-selector {
  height: 50px !important; /* Adjust the height as needed */
}
.headingStyle {
  color: #f2f2f4;
}
/* .userProfileMainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../../assets/images/employAbleSignup.svg");
} */
